<header class="app-header">

	<div class="header-content">

		<div class="logo-section">

			<a routerLink="/home" class="logo-link">
				<span class="logo-text">{{ 'app.title' | translate }}</span>
			</a>

		</div>

		<nav class="navigation-section">

			<app-toggle-translate></app-toggle-translate>

			<div class="user-profile">

				<div class="avatar-container">

					@if(user && user.picture){

					<img [src]="user.picture" [alt]="'app.profile.picture' | translate" class="avatar-image" (click)="navigateToProfile()">

					}@else{

					<div class="avatar-placeholder" (click)="navigateToLogin()"></div>

					}

				</div>

				@if(user){

				<span class="user-name">{{ user.name }} {{ user.surname }}</span>

				<ion-button size="small" fill="clear" color="danger" (click)="logout()">{{ 'app.common.logout' | translate }}</ion-button>

				}@else{

				<span class="login-prompt">{{ 'app.login.signIn' | translate }}</span>
				}

			</div>

		</nav>

	</div>

</header>