<app-loading></app-loading>

<div class="register-page">

	<div class="register-container">

		<div class="register-header">

			<h1>{{ 'app.register.title' | translate }}</h1>
			<p>{{ 'app.register.subtitle' | translate }}</p>

		</div>

		<div class="register-content">

			<app-user-form (onSubmit)="onUserSubmit($event)"></app-user-form>

			<div class="login-footer">

				<p>{{ 'app.login.haveAccount' | translate }} <a (click)="navigateToLogin()">{{ 'app.login.signIn' | translate }}</a></p>

			</div>

		</div>

	</div>

</div>